---
layout: default
title: Date-validator by Arkni Brahim
---

<div id="home">
    <section>
        <h2 id="options">Options</h2><br/>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Option</th>
                        <th>Type</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><code>format</code><sup>*</sup></td>
                        <td>String | Array</td>
                        <td>The date format, can be a string or an array of strings.<br/>
                            It is <code>DD/MM/YYYY</code>, by default</td>
                    </tr>
                    <tr>
                        <td><code>maxDate</code></td>
                        <td>String | Date</td>
                        <td>The max date.</td>
                    </tr>
                    <tr>
                        <td><code>minDate</code></td>
                        <td>String | Date</td>
                        <td>The min date.</td>
                    </tr>
                    <tr>
                        <td><code>separator</code><sup>*</sup></td>
                        <td>String</td>
                        <td>Used to separate the day, month, and year.<br/>
                            Most popular examples are a slash (<code>/</code>), hyphen (<code>-</code>), or dot (<code>.</code>)<br/>
                            It is <code>/</code>, by default.</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="callout callout-info info">
            <p><sup>*</sup> — Required options if different from default values.</p>
        </div>

        <p>The following table describes the token meanings:</p>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Token</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><code>D</code></td>
                        <td>Day of the month as digits; no leading zero for single-digit days.</td>
                    </tr>
                    <tr>
                        <td><code>DD</code></td>
                        <td>Day of the month as digits; leading zero for single-digit days.</td>
                    </tr>
                    <tr>
                        <td><code>M</code></td>
                        <td>Month as digits; no leading zero for single-digit months.</td>
                    </tr>
                    <tr>
                        <td><code>MM</code></td>
                        <td>Month as digits; leading zero for single-digit months.</td>
                    </tr>
                    <tr>
                        <td><code>YY</code></td>
                        <td>Year as last two digits; leading zero for years less than 10.</td>
                    </tr>
                    <tr>
                        <td><code>YYYY</code></td>
                        <td>Year represented by four digits.</td>
                    </tr>
                    <tr>
                        <td><code>h</code></td>
                        <td>Hours; no leading zero for single-digit hours (12-hour clock).</td>
                    </tr>
                    <tr>
                        <td><code>hh</code></td>
                        <td>Hours; leading zero for single-digit hours (12-hour clock).</td>
                    </tr>
                    <tr>
                        <td><code>H</code></td>
                        <td>Hours; no leading zero for single-digit hours (24-hour clock).</td>
                    </tr>
                    <tr>
                        <td><code>HH</code></td>
                        <td>Hours; leading zero for single-digit hours (24-hour clock).</td>
                    </tr>
                    <tr>
                        <td><code>m</code></td>
                        <td>Minutes; no leading zero for single-digit minutes.</td>
                    </tr>
                    <tr>
                        <td><code>mm</code></td>
                        <td>Minutes; leading zero for single-digit minutes.</td>
                    </tr>
                    <tr>
                        <td><code>s</code></td>
                        <td>Seconds; no leading zero for single-digit seconds.</td>
                    </tr>
                    <tr>
                        <td><code>ss</code></td>
                        <td>Seconds; leading zero for single-digit seconds.</td>
                    </tr>
                    <tr>
                        <td><code>A</code><sup>*</sup></td>
                        <td>AM PM</td>
                    </tr>
                    <tr>
                        <td><code>a</code><sup>*</sup></td>
                        <td>am pm</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="callout callout-info info">
            <p>
                <sup>*</sup> — <code>A</code> and <code>a</code> tokens are used only with <code>hh</code> or <code>h</code>.
            </p>
            <p>
                A <code>SyntaxError</code> is thrown if you are using one of them with <code>'HH'</code> or <code>'H'</code>.
            </p>
        </div>

        <p>Below are some examples of possible formats:</p>
        <ul>
            <li><code>YYYY/DD/MM</code></li>
            <li><code>YYYY-MM-DD</code></li>
            <li><code>YYYY.MM.DD</code></li>
            <li><code>DD/MM/YYYY</code></li>
            <li><code>DD-MM-YYYY</code></li>
            <li><code>DD.MM.YYYY</code></li>
            <li><code>MM/DD/YYYY</code></li>
            <li><code>MM-DD-YYYY</code></li>
            <li><code>MM.DD.YYYY</code></li>
            <li><code>M/D/YY</code></li>
            <li><code>M-D-YY</code></li>
            <li><code>M.D.YY</code></li>
            <li><code>YYYY-MM-DD HH:mm</code></li>
            <li><code>YYYY-MM-DD HH:mm:ss</code></li>
            <li><code>YYYY-MM-DD H:m:s</code></li>
            <li><code>YYYY-MM-DD hh:mm</code></li>
            <li><code>YYYY-MM-DD hh:mm:ss A</code></li>
            <li><code>YYYY-MM-DD hh:mm:ss a</code></li>
            <li><code>YYYY-MM-DD h:m:s A</code></li>
            <li><code>YYYY-MM-DD h:m:s a</code></li>
            <li><code>...</code></li>
        </ul>

        <div class="hr"></div>

        <div>
            <div class="callout callout-info info">
                <p><strong>Notes:</strong></p>
                <p>DateValidator use the follwoing messages to show errors based on validation level:</p><br/>
{% highlight javascript %}
$.extend($.validator.messages, {
   dateValidatorMessages: {
      "default": $.validator.format("Please enter a valid date, format {0}."),
      minDate: $.validator.format("Please enter a date after {0}."),
      maxDate: $.validator.format("Please enter a date before {0}."),
      range: $.validator.format("Please enter a date between {0} and {1}.")
   }
});
{% endhighlight %}
            </div>
        </div>
    </section>

    <div class="hr"></div>

    <section>
        <h2 id="usage-examples">Usage examples</h2>
        <h3 id="default-format-separator-example">Using default format & separator</h3><br/>
        {% include examples/default-format.html %}

        <h3 id="custom-format-separator-example">Using custom format & separator</h3><br/>
        {% include examples/custom-format.html %}

        <h3 id="date-time-example">Using custom format & separator (date time value)</h3><br/>
        {% include examples/date-time.html %}

        <h3 id="array-format-example">Using an array of formats</h3><br/>
        {% include examples/array-format.html %}

        <h3 id="min-max-example">Using minDate & maxDate options</h3><br/>
        {% include examples/min-max-date.html %}

        <div class="callout callout-info info">
            <p>
                If you are using date object as value of the <code>minDate</code> or the <code>maxDate</code> option and
                a date format contains <code>a</code> or <code>A</code> tokens, it's highly recommended to create the date
                object using the 24 hours system.
            </p>
            <p>For example:</p><br/>
{% highlight javascript %}
dateValidator: {
    format: 'YYYY-MM-DD hh:mm:ss A',
    separator: '-',
    // This will be converted to '2014-01-01 12:00:00 PM'
    minDate: new Date( 2014, 0, 1, 12, 0, 0 ),
    // If you want to set maxDate to '2016-01-01 11:59:59 PM', please
    // don't use 'new Date( 2016, 0, 1, 11, 59, 59)', use this instead.
    maxDate: new Date( 2016, 0, 1, 23, 59, 59 )
}
{% endhighlight %}
        </div>
    </section>
</div>
