<div class="datevalidator-example">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#custom-form-tab" data-toggle="tab">Try it</a></li>
        <li><a href="#custom-html-tab" data-toggle="tab">HTML</a></li>
        <li><a href="#custom-js-tab" data-toggle="tab">JS</a></li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane active" id="custom-form-tab">
            <form id="customDateForm" method="post" class="form-horizontal">
                <div class="form-group">
                    <label class="col-md-3 control-label">Date</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control" name="date" placeholder="YYYY-MM-DD" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-6 col-md-offset-3">
                        <button type="submit" class="btn btn-default">Validate</button>
                    </div>
                </div>
            </form>
        </div>

        <div class="tab-pane" id="custom-html-tab">
{% highlight html %}
<form id="customDateForm" method="post" class="form-horizontal">
    <div class="form-group">
        <label class="col-md-3 control-label">Date</label>
        <div class="col-md-6">
            <input type="text" class="form-control" name="date" placeholder="YYYY-MM-DD" />
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-6 col-md-offset-3">
            <button type="submit" class="btn btn-default">Validate</button>
        </div>
    </div>
</form>
{% endhighlight %}
        </div>

        <div class="tab-pane" id="custom-js-tab">
{% highlight javascript hl_lines="6 7 8 9" %}
$('#customDateForm')
    .validate({
        rules: {
            date: {
                required: true,
                dateValidator: {
                    format: 'YYYY-MM-DD',
                    separator: '-'
                }
            }
        }
    });
{% endhighlight %}
        </div>
    </div>
</div>