<div class="datevalidator-example">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#custom-form-tab" data-toggle="tab">Try it</a></li>
        <li><a href="#custom-html-tab" data-toggle="tab">HTML</a></li>
        <li><a href="#custom-js-tab" data-toggle="tab">JS</a></li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane active" id="custom-form-tab">
            {% include examples/html/custom-format.html %}
        </div>

        <div class="tab-pane" id="custom-html-tab">
            {% highlight html %}
            {% include examples/html/custom-format.html %}
            {% endhighlight %}
        </div>

        <div class="tab-pane" id="custom-js-tab">
            {% highlight javascript hl_lines="5 6 7 8" %}
            {% include examples/js/custom-format.js %}
            {% endhighlight %}
        </div>
    </div>
</div>
